* {
    margin: 0; /* сброс внешних оступов */
    padding: 0; /* сброс внутренних отступов */
}

.item { 
    width: 200px;
    height: 200px;
    background-color: royalblue; 
}

.item-2 {
    margin-left: 200px;
    background-color: darksalmon;
}

.item-3 {
    margin-left: 400px;
    background-color: rgb(97, 183, 61);
}

.item-4 {
    margin-left: 600px;
    background-color: rgb(222, 68, 17);
}

