* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    width: 200px;
    height: 200px;
    background-color: darkorange;
    margin: 10px;
}
.item-1 {
    padding: 20px;
}


header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(199, 199, 199);  
}
nav {
    width: 100%;
    margin: auto;
    height: 100%; /* 60px как у header */
    display: flex;
    align-items: center;
    gap: 30px; /* Отступы между элементами внутри флекс контейнера */   
}
.nav-link{
    font-size: 24px;
}
a {
    font-size: 24px;
    text-decoration: none;
    color: black;

}
section {
    height: 100vh; /* view height - это высота рабочего окна в браузере */
}
#red {
    background-color: rgb(143, 41, 41);
}
#blue {
    background-color: rgb(32, 23, 167);
}
#green {
    background-color: rgb(65, 185, 10);
}
#yellow {
    background-color: rgb(186, 244, 14);
}